<a href="https://colab.research.google.com/github/gauravvxv/cafe-sales/blob/main/notebook/cafe_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üßº Cafe Sales Data Cleaning Project

# üìå 1. Introduction

In this project, I worked with a messy cafe sales dataset. My goal was to clean the data and explore it using visualizations with Matplotlib and Seaborn. This helped me understand sales patterns, product performance, and prepare the data for future analysis.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# üì• 2. Import libraries

We import necessary libraries for data handling and visualization:

*   `pandas` and `numpy` for data manipulation
*   `matplotlib` and `seaborn` for data visualization

In [2]:
import pandas as pd
import numpy as np

# üìÇ 3. Load Dataset
We load the dataset using Pandas and display the first few rows to understand the structure.

In [3]:
path = '/content/drive/MyDrive'

In [4]:
data = pd.read_csv(path+'/dirty_cafe_sales.csv')

In [5]:
data.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

# üßê 4. Initial Data Exploration

We explore the dataset using basic functions like `.info()`, `.describe()`, `.shape`, and check for missing or duplicate values. This helps us spot initial problems in the data.

In [6]:
data.shape

(10000, 8)

In [7]:
data.columns

Index(['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent',
       'Payment Method', 'Location', 'Transaction Date'],
      dtype='object')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [9]:
data.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_9226047,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

In [10]:
data.dtypes

Transaction ID      object
Item                object
Quantity            object
Price Per Unit      object
Total Spent         object
Payment Method      object
Location            object
Transaction Date    object
dtype: object

In [11]:
data.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

**After exploring the dataset, it was found that there are 10,000 rows and 8 columns**.

* Except for the Transaction ID column, all other columns contain null (missing) values, indicating significant data quality issues.

* Additionally, the column names start with uppercase letters and contain spaces (e.g., "Price Per Unit", "Payment Method").
This format is not ideal for programmatic analysis in Python.

**These issues will be addressed during the data cleaning phase by:**

* Handling or imputing missing values appropriately

* Renaming columns to follow a consistent, Pythonic naming style using snake_case (e.g., "price_per_unit", "payment_method")

# üßπ 5. Data Cleaning

**Column Name Modifying**

*   All column names were converted to the lower case using `.str.lower()`
*   Spaces were replaced with underscores using `.str.replace(' ','_')`

In [12]:
data.columns = data.columns.str.lower().str.replace(' ','_')

In [13]:
data.head()

,transaction_id,item,quantity,price_per_unit,total_spent,payment_method,location,transaction_date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

**Handling missing values in item column**



* The NaN values in the item column were filled with the placeholder `Unknown` to preserve the rows while indicating missing data.

* Any items that were in uppercase were converted to the title case using `.str.title()`

In [39]:
data['item'].fillna('Unknown',inplace=True)

In [37]:
data['item'] = data['item'].str.title()

In [38]:
data['item']

0         Coffee
1           Cake
2         Cookie
3          Salad
4         Coffee
          ...
9995      Coffee
9996         NaN
9997      Coffee
9998      Cookie
9999    Sandwich
Name: item, Length: 10000, dtype: object

In [40]:
data.isnull().sum()

transaction_id         0
item                   0
quantity             479
price_per_unit       179
total_spent          173
payment_method      2579
location            3265
transaction_date     159
qunatity             479
dtype: int64

**Handling missing values in quantity, price_per_unit and total_spend column**


* The columns quantity, price_per_unit, and total_spent initially had a data type of object, likely due to the presence of non-numeric entries (e.g., strings or errors).
*  To perform numerical operations and handle missing values accurately, all three columns were converted to float using pd.to_numeric() with errors='coerce'.

In [71]:
data['quantity'] = pd.to_numeric(data['quantity'],errors='coerce')

In [72]:
data['total_spent'] = pd.to_numeric(data['total_spent'],errors='coerce')

In [73]:
data['price_per_unit'] = pd.to_numeric(data['price_per_unit'],errors='coerce')

In [74]:
data.dtypes

transaction_id       object
item                 object
quantity            float64
price_per_unit      float64
total_spent         float64
payment_method       object
location             object
transaction_date     object
qunatity            float64
dtype: object

In [77]:
data.head()

,transaction_id,item,quantity,price_per_unit,total_spent,payment_method,location,transaction_date,qunatity
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08,2.0
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16,4.0
2,TXN_4271903,Cookie,3.0,1.0,NaN,Credit Card,In-store,2023-07-19,4.0
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27,2.0
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11,2.0

In [76]:
data['quantity'].fillna(data['qunatity'].median(),inplace=True)

<ipython-input-76-839ce85602e3>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['quantity'].fillna(data['qunatity'].median(),inplace=True)

In [79]:
data.isnull().sum()

transaction_id         0
item                   0
quantity               0
price_per_unit       533
total_spent          502
payment_method      2579
location            3265
transaction_date     159
qunatity             479
dtype: int64